body {
    margin: 0;
    background-color: #313131;
}

header {
    min-height: 60px;
}

.navbar-container {
    height: 100px;
}

.container.fill {
    min-height: 100vh;
}

.student-col input {
    background: none;
    border: none;
    overflow: visible;
    width: 100%;
    text-align: center;
    color: inherit;
    transition: background-color, transform 0.3s;
}

.student-col input:hover {
    transform: translateY(-2px);
}

.student-col input:focus {
    background-color: #00000024;
    outline: 0;
    transform: none;
}

.delete-button,
.edit-button,
.add-button,
.delete-all-button,
.save-button,
.upload-button,
.show-nav {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    transition: color 0.3s;
    margin: 0 5px;
    color: white;
}

.delete-button::before {
    content: '🛇';
    color: #ff5858;
}

.edit-button::before {
    content: '✏️';
    font-family: 'Segoe UI Symbol';
    color: #56cd56;
}

.add-button::before {
    content: '+';
    color: #56cd56;
}

.delete-all-button::before {
    content: '🗑';
    font-family: 'Segoe UI Symbol';
    color: #ff5858;
}

.save-button::before {
    content: '📥';
    font-family: 'Segoe UI Symbol';
    color: blue;
}

.upload-button::before {
    content: '📁';
    font-family: 'Segoe UI Symbol';
    color: yellow;
}

.show-nav::before {
    content: '🔻';
    font-family: 'Segoe UI Symbol';
    color: white;
    transition: color 0.3s;
}

.add-button:hover {
    color: #56cd56;
}

.delete-all-button:hover {
    color: #ff5858;
}

.save-button:hover {
    color: blue;
}

.upload-button:hover {
    color: yellow;
}

.show-navbar:hover>.show-nav:before {
    color: lightslategrey;
}

.prettyInput~label {
    position: absolute;
    left: 20px;
    width: 100%;
    top: 3px;
    color: #aaa;
    transition: 0.3s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.prettyInput:focus~label,
.prettyInput.has-value~label {
    top: -18px;
    left: 20px;
    font-size: 12px;
    color: white;
    transition: 0.3s;
}

th::after {
    content: " ^";
    font-weight: 50;
}

.hidden {
    display: none;
}

p {
    margin: 0;
}

.navbar-brand {
    position: absolute;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: lightslategrey !important;
}

@media (max-width:992px) {
    .navbar-brand {
        position: static;
    }
}

.navbar-nav>ul {
    margin: 20px;
}

.nav-hidden {
    transform: translateY(-75px);
}

header {
    transition: transform 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.show-navbar {
    min-height: 15px;
    background-color: #343a40;
    width: 100%;
    position: fixed;
    cursor: pointer;
}

.modal-content {
    color: white;
    background-color: rgba(255, 255, 255, .10);
}

.modal-body {
    background-color: rgba(255, 255, 255, .05)
}

.modal-content>* {
    border-color: rgba(255, 255, 255, 0.1);
}